/* ALL POST CSS */
.postsSection {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  justify-content: center;
}

/* POST ITEM CSS */

.postSection {
  margin: 0px 10px 20px;
  background-color: #ffffff;
  padding: 25px;
  flex-direction: column;
}

.caption {
  margin-top: 20px;
  text-align: justify;
}
.caption::first-letter {
  text-transform: uppercase;
}

.postPhoto {
  max-height: 400px;
  max-width: 400px;
  margin: 10px 0px;
}

.name {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 5px 0px;
}

.name:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.date {
  font-size: 0.7em;
}

.tagPost {
  font-size: 14px;
}

em:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.buttonContainer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.buttonItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.buttonItem:hover {
  background-color: #efefef;
  border-radius: 8px;
}

.buttonItem span {
  font-size: 14px;
  margin-left: 5px;
}

.iconLike {
  border: 1px solid black;
}

/* IMAGE PROFILE */
.imgProfile {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
  border: 1px solid #3b5998;
}
