/* NAVBAR COMPONENT */
.nav {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  background-color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.title {
  margin-left: 30px;
  color: #3b5998;
  letter-spacing: 2px;
}

ul {
  display: flex;
  justify-content: center;
}

.listItem {
  padding: 8px;
  display: inline;
  list-style-type: none;
  margin-left: 1.5rem;
}

.listItem:not(:last-child):hover {
  background-color: #efefef;
  border-radius: 8px;
}

.listItem button {
  width: 100px;
  border: none;
  background-color: #3b5998;
  color: white;
  font-size: 1em;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.listItem button:hover {
  background-color: #3f6ed4;
}

a {
  text-decoration: none;
  color: #3b5998;
  font-size: 1.3em;
}

/* SEARCH COMPONENT */
.searchContainer {
  max-width: 450px;
  margin-right: 5px;
}

.searchBtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 10%;
  height: 48px;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.searchInput {
  padding: 15px 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #3b5998;
  width: 90%;
}

/* ADDITIONAL CSS */
.flexgrow1 {
  flex-grow: 1;
}

.flexgrow2 {
  flex-grow: 2;
}
